@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Teachers", serif;
}
body {
  background-color: #dddddd;
  overflow-x: hidden;
}
.header {
  width: 100%;
  padding: 40px;
}
.header h1 {
  text-align: left;
  letter-spacing: NaNpx;
  font-family: Poppins;
}
.header h1 span {
  color: #0060ff;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  height: 80vh;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-left: 300px;
}
.hero .aboutme {
  position: absolute;
  top: 130px;
  right: 200px;
}
.hero .aboutme h1 {
  font-family: Poppins;
  position: absolute;
  font-size: 158.3px;
  color: #1c1c1c;
  font-weight: 700;
}
.hero .aboutme b {
  font-family: Poppins;
  position: absolute;
  font-size: 43.17px;
  color: #373737;
  width: 218px;
}
.pos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  font-family: "Teachers", serif;
  font-size: 49.7px;
  font-weight: 200;
}
.hero h2 {
  font-family: "Teachers", serif;
  font-size: 71px;
  font-weight: 300;
}
.hero p {
  font-family: "Teachers", serif;
  font-size: 23.29px;
  font-weight: 300;
  color: #212121;
}
.hero ul {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  padding-left: 10px;
}
.hero ul li img {
  width: 25px;
  height: 25px;
}
.abSmith {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  min-width: 100%;
  min-height: 80vh;
  background-color: white;
  padding: 50px;
}

.abSmith .righttext {
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 33px;
}
.abSmith .righttext .name {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
}
.abSmith .righttext .name b {
  font-size: 40px;
  color: #222222;
  font-family: "Teachers", serif;
  font-weight: 200;
}
.abSmith .righttext .name p {
  font-size: 14px;
  color: #daae19;
  font-family: "Teachers", serif;
  font-weight: 200;
}
.abSmith .righttext p {
  text-align: right;
  letter-spacing: 0.45px;
  color: #555555;
  font-family: "Teachers", serif;
}
.abSmith .righttext a {
  width: 152px;
  height: 50px;
  background-color: #e93656;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Teachers", serif;
  transition: 0.5s;
}
.abSmith .righttext a:hover {
  background-color: #b81835;
}
.abSmith .img {
  width: 430px;
  height: 603px;
  background-color: #555555;
}
.abSmith .lefttext {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.abSmith .lefttext p {
  font-size: 20px;
}
.abSmith .lefttext p span {
  color: #e93656;
}
.abSmith .lefttext .lines {
  width: 300px;
  height: 10px;
  background-color: #e93656;
}
.stats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.Photoshop .lines {
  background: linear-gradient(
    90deg,
    rgba(233, 54, 86, 1) 30%,
    rgba(240, 240, 240, 1) 30%
  );
}
.Design .lines {
  background: linear-gradient(
    90deg,
    rgba(233, 54, 86, 1) 80%,
    rgba(240, 240, 240, 1) 20%
  );
}
.Marking .lines {
  background: linear-gradient(
    90deg,
    rgba(233, 54, 86, 1) 50%,
    rgba(240, 240, 240, 1) 50%
  );
}
.photography .lines {
  background: linear-gradient(
    90deg,
    rgba(233, 54, 86, 1) 65%,
    rgba(240, 240, 240, 1) 35%
  );
}
